@using ArticleManagement.UI.Web.Extensions
@model ScientificArticle


<h2>Article Details</h2>

<dl class="row">
    <dt class="col-md-1 mb-2">Title</dt>
    <dd class="col-md-11 mb-2">
        @Model.Title
    </dd>
    <dt class="col-md-1 mb-2">Number of Pages</dt>
    <dd class="col-md-11 mb-2">
        @Model.NumberOfPages
    </dd>
    <dt class="col-md-1 mb-2">Genre</dt>
    <dd class="col-md-11 mb-2">
        @Model.Category.GetString()
    </dd>
    <dt class="col-md-1 mb-2">Published</dt>
    <dd class="col-md-11 mb-2">
        @Model.DateOfPublication.ToString("MMM dd, yyyy") in <a asp-controller="ScienceJournal" asp-action="Index">@(Model.Journal?.Name ?? "UNKNOWN")</a>
    </dd>
</dl>


<h3>Authors</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th>Lead Researcher?</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Affiliation</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.AuthorLinks.Any())
    {
        int rowNumber = 1;
        foreach (var asLk in @Model.AuthorLinks)
        {
            <tr>
                <th>@(rowNumber++ + ".")</th>
                <td>@(asLk.IsLeadResearcher ? "Yes" : "No")</td>
                <td>@asLk.Scientist.Name</td>
                <td>@(asLk.Scientist.DateOfBirth.HasValue ? asLk.Scientist.DateOfBirth.Value.ToString("MMM dd, yyyy") : "UNKNOWN")</td>
                <td>Faculty of @asLk.Scientist.Faculty, @asLk.Scientist.University</td>
                <td>
                    <a asp-controller="Scientist" asp-action="Details" asp-route-id="@asLk.Scientist.Id">Details</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>