@using ArticleManagement.BL.Domain.Extensions;

@model IEnumerable<ScientificArticle>

@{
    ViewBag.Title = "Articles";
}

<h2>All articles</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th></th>
        <th class="w-50">Title</th>
        <th>Published</th>
        <th># Pages</th>
        <th>Category</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        int rowNumber = 1;
        foreach (var article in Model)
        {
            <tr>
                <th>@(rowNumber++ + ".")</th>
                <td>@article.Title</td>
                <td>@article.DateOfPublication.ToString("MMM dd, yyyy")</td>
                <td>@article.NumberOfPages</td>
                <td>@article.Category.GetString()</td>
                <td>
                    <a asp-controller="ScientificArticle" asp-action="Details" asp-route-id="@article.Id">Details</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>