@model Scientist

@{
    ViewBag.Title = "Scientist details";
}


<h2>Scientist Details</h2>
<span class="d-none" id="scientistIdentification">@Model.Id</span>

<dl class="row">
    <dt class="col-md-1 mb-2">Name</dt>
    <dd class="col-md-11 mb-2">
        @Model.Name
    </dd>
    <dt class="col-md-1 mb-2">Date of Birth</dt>
    <dd class="col-md-11 mb-2">
        @(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("MMM dd, yyyy") : "UNKNOWN")
    </dd>
    <dt class="col-md-1 mb-2">Affiliation</dt>
    <dd class="col-md-11 mb-2">
        Faculty of @Model.Faculty, @Model.University
    </dd>
</dl>


<h3>Articles</h3>

<table class="table table-striped" id="articlesTable">
    <thead>
    <tr>
        <th></th>
        <th class="w-50">Title</th>
        <th>Published</th>
        <th># Pages</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<h3>Add Article</h3>
<form id="addArticleForm">
    <div class="form-group row" id="articleSelectionDiv">
        <label for="articlesList" class="col-2 col-form-label">
            Select an article
        </label>
        <select name="articleSelection" id="articlesList" class="form-control col-lg"></select>
    </div>

    <div class="row form-row mt-4" id="isLeadResCheckboxDiv">
        <label class="form-check-label col-2" for="isLeadResearcherCheckbox">
            Is Lead Researcher?
        </label>
        <input class="form-check-input col-3" type="checkbox" value="" id="isLeadResearcherCheckbox">
    </div>

    <button class="btn btn-primary mt-3" type="submit" id="addArticleBtn">Add article to scientist</button>
</form>

@section Scripts
{
    <script src="~/js/scientist/details.js" defer></script>
}