@model Scientist


<h2>Scientist Details</h2>

<div class=".container-fluid">
    <div class="row">
        <span class="col-lg-1 fw-bold">Name</span>
        <p class="col-lg-8">@Model.Name</p>
    </div>
    <div class="row">
        <span class="col-lg-1 fw-bold">Date of Birth</span>
        <p class="col-lg-8">@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("MMM dd, yyyy") : "UNKNOWN")</p>
    </div>
    <div class="row">
        <span class="col-lg-1 fw-bold">Affiliation</span>
        <p class="col-lg-8">Faculty of @Model.Faculty, @Model.University</p>
    </div>
</div>

<div id="articleFeatures">
    <span class="d-none" id="scientistIdentification">@Model.Id</span>
    
    <h3>Articles</h3>
    <table class="table" id="articlesTable">
        <thead>
        <tr>
            <th>Title</th>
            <th>Published</th>
            <th># Pages</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <form id="addArticleForm">
        <div class="form-group row" id="articleSelectionDiv">
            <label for="articlesList" class="col-lg-2">Select an article</label>
            <select name="articleSelection" id="articlesList" class="form-control col-lg"></select>
        </div>
        
        <div class="row form-row mt-3" id="isLeadResCheckboxDiv">
            <label class="form-check-label col-2" for="isLeadResearcherCheckbox">
                Is Lead Researcher?
            </label>
            <input class="form-check-input col-4" type="checkbox" value="" id="isLeadResearcherCheckbox">
        </div>
        
        <button class="btn btn-primary mt-3" type="submit" id="addArticleBtn">Add article to scientist</button>
    </form>
</div>

@section Scripts
{
    <script src="~/js/scientist/details.js" defer></script>
    <partial name="_ValidationScriptsPartial" />
}
